*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #1B66CA;

}

.container{
    background-color: #ffffff;
    width: 80%;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    box-shadow: 0 1.2em 1.8em rgba(0, 21, 65, 0.25);
    animation: anim 2s linear infinite ;
    animation-direction: alternate-reverse;
}

.logo{
  position: absolute; 
  transform: translate(-50%, -50%);
  top: -15%;
  left: 50%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 0 15px #1B66CA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
    height: 100%;
    position: absolute;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
   
}
.logo::after{
    content: '';
    width: 150px;
    height: 150px;
    display: block;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #fff;

}

.search-wrapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25rem;
}

.search-wrapper button{
    font-size: 1em;
    color: #fff;
    background-color: #1B66CA;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.53em;
}

.search-wrapper input{
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #1B66CA;
    outline: none;
    color: #222;
}
/* .here{
    margin: 10px;
    border: 1px solid red;
    display: none;
    padding: 10px 10px;
} */

#result{
margin-top: 1.25em;
}

.container .flag-img{
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}

.container h2{
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

.data-wrapper{
    margin-bottom: 1em;
    letter-spacing: 0.3em;
}

.container h4{
    display: inline;
    font-weight:600;
    color: #222a43;
}

.container span{
    color: #222a43;
}
.container h3{
    text-align: center;
    font-size: 1.2em;
    color: #ff465f;
    font-weight: 400;
}


@media screen and (max-width: 772px) {
    .search-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.25rem;
    }
    .search-wrapper input{
        text-align: center;
        padding: 10px 0;
    }
    
}

@keyframes anim {
    25%{
        border-radius: 20px 50px 20px 20px ;
    }
    50%{
        border-radius: 50px 20px 20px 20px ;
    }
    
    75%{
        border-radius: 20px 20px 50px 20px ;
    }
    
    100%{
        border-radius: 20px 20px 20px 50px ;
    }
}